version: '3.8'

services:
  telegram-bot:
    build: .
    command: python telegrambot.py
    restart: always
    env_file:
      - .env

  twitter-bot:
    build: .
    command: python bot_db.py
    restart: always
    env_file:
      - .env