version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: practicante
      POSTGRES_PASSWORD: 1185
      POSTGRES_DB: bpdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  bot:
    build: .
    depends_on:
      - db
    env_file:
      - .env